body {
    text-align: center;
    margin: 1em;
    padding: 0;
    color: #000;
    background-color: rgb(220, 220, 220);
}

footer{
    background-color: rgb(240, 240, 240);
}

#main-column {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #000;
    background-color: rgb(240, 240, 240);
    width: 880px;
    float: center;
    border: 1px solid black;
    border-radius: 1%
}

h1 {
    color: rgb(20, 20, 20);
    ;
    margin-left: 20px;
    font-size: 24px;
}

table {
    width: 100%;
    text-align: center;
}

.index-list li{
    font-size:18px;
    list-style-type:none;
    margin-bottom: 1.5%;
    text-align: center;
}


.fancy
{
    margin-right: auto;
    margin-left: auto;
    min-height: 150px;
    max-width: 800px;
    
    /* Background color and gradients */
    background: #eeeeee;
    background: -moz-linear-gradient(top, #ffffff, #cccccc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
    /* really nifty translucence */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8) );
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.8) ), to( rgba(200, 200, 200, 0.8) ));
    
    /* Rounded corners */
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
